# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# extras
pointers
array
struct-union-enum
static-members-methods
callByValue-callByReference
inlineFunc-defaultArg-constArg
recursions
function-overloading
class
nesting-of-member-function
object-array
friend-functions
friend-class-and-member-friend-functions
little-more-on-friend-functions
constructor
dynamic-initialization-of-object
copy-constructor
destructor
inheritance
single-inheritance
protected-access-modifier
multilevel-inheritance
multiple-inheritance
ex1
inheritance-ambiguity
virtual-base-class
constructors-in-derived-class
initialization-list-in-constructor
new-delete-in-pointers
pointers-to-objects-and-arrow-operator
array-of-objects-using-pointers
this-pointer
polymorphism
pointer-to-derived-class
virtual-function
virtual-function-example
abstract-base-class-and-pure-virtual-function
basic-file-io
read-write-in-same-program
open-and-eof
template
multiple-parameters-templates
funtion-template
stl-vector
stl-list
stl-map
function-objects-functors